.app {
  width: 100%;
  min-height: 100vh;
}

.brand {
  font-family: "Satisfy", cursive;
  color: rgb(90, 91, 94);
}

#quotes .actions button {
  padding: 8px 10px;
  user-select: none;
  outline: none;
  border: none;
}

#quotes .actions p {
  padding: 8px 14px;

  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  cursor: pointer;
}
